.header-container {
    align-items: center;
    justify-content: center;
    background: var(--second-primary-color);
}
.header {
    justify-content: space-between;
    width: 1990px;
    align-items: center;
    padding: 2% 10%;
}

.logo-container {
    width: 40%;
}

.info-container {
    width: 60%;
    justify-content: space-between;
}
.info {
    margin-right: 12%;
    position: relative;
}
.info p {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}
/* the icons */
.info::before {
    content: url(../../assets/Header/Header1.svg);
    position: absolute;
    left: -50%;
    top: -40%;
    width: 63px;
}
.info2::before {
    content: url(../../assets//Header/Header2.svg);
}
.info3::before {
    content: url(../../assets//Header/Header3.svg);
    left: -70%;
}