/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

/* Declaration of color variables to be used */
:root {
    --first-primary-color: #FFBE34;
    --second-primary-color: #091242;
    --secondary-color: #F4F4F4;
}

h1, h2, h3, h4, h5 {
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

p, li {
    color: #fff;
    font-family: 'Krub', sans-serif;
}


/* Repeated classes turned into utility classes */
.--d-flex {
    display: flex;
}
.--active {
    position: relative;
}
.--active::after {
    content: '';
    position: absolute;
    bottom: -135%;
    left: 0;
    width: 60%;
    height: 2px;
    background: #fff;
    z-index: 1000;
}